$font-path: './fonts/'; // Set the path to your font files, adjust the relative path as needed
$thin: '#{$font-path}Jost-Thin.ttf';
$thin-italic: '#{$font-path}Jost-ThinItalic.ttf';
$thin-italic: '#{$font-path}Jost-Light.ttf';
$light-italic: '#{$font-path}Jost-LightItalic.ttf';
$regular: '#{$font-path}Jost-Regular.ttf';
$medium: '#{$font-path}Jost-Medium.ttf';
$medium-italic: '#{$font-path}Jost-MediumItalic.ttf';
$bold: '#{$font-path}Jost-Bold.ttf';
$bold-italic: '#{$font-path}Jost-BoldItalic.ttf';
$extra-bold: '#{$font-path}Jost-ExtraBold.ttf';
$extra-bold-italic: '#{$font-path}Jost-ExtraBoldItalic.ttf';
$black: '#{$font-path}Jost-Black.ttf';
$black-italic: '#{$font-path}Jost-BlackItalic.ttf';
$extra-light: '#{$font-path}Jost-ExtraLight.ttf';
$extra-light-italic: '#{$font-path}Jost-ExtraLightItalic.ttf';
$semi-bold: '#{$font-path}Jost-SemiBold.ttf';
$semi-bold-italic: '#{$font-path}Jost-SemiBoldItalic.ttf';